@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-neutral-900 dark:text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}